<div class="d-flex flex-column align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<center>
<h1>Liste des participants</h1>
</br>
<%=link_to 'Modifier mon évènement', edit_event_path(@event), class:'btn btn-danger' %>
</br>
</center>
</br>


<table class="table d-flex flex-column align-items-center p-6 px-md-6 mb-6 bg-white border-bottom shadow-sm">
  <thead>
    <tr>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  <% @attendees.each do |a| %>
    <tr>
      <td><%=a.first_name%></td>
      <td><%=a.last_name%></td>
      <td><%=a.email%></td>
    </tr>
  <% end %>
  </tbody>

</table>
  <%= button_to  "Supprimer mon évènement", event_path(@event), type: 'submit', class: 'btn btn-warning', method: 'delete', data: { confirm: "Êtes-vous sûr(e)" } %>
</div>